<footer>
    <div class="container top-half">
        <div>
            <h3>Sobre n&oacute;s</h3>
            <span data-wsjs-infos="metaDescription"></span>
        </div>
        <div>
            <h3>Dados de contato</h3>
            <ul class="list-footer">
              <li>
                <span data-wsjs-infos="mainPhone">{{value}}</span>
              </li>
              <li>
                <span data-wsjs-infos="whatsapp">{{value}}</span>
              </li>
              <li>
                <span data-wsjs-infos="mainEmail">{{value}}</span>
              </li>
              <li>
                <span data-wsjs-infos="commercialHours">{{value}}</span>
              </li>
              <li>
                <span data-wsjs-infos="sac">Fale conosco</span>
              </li>
            </ul>
        </div>
        <div>
            <h3>Institucional</h3>
            <span class="list-footer" data-wsjs-infos="institutional"></span>
        </div>
        <div>
            <h3>Redes sociais</h3>
            <span class="social-footer" data-wsjs-infos="socialMidia"></span>
        </div>
    </div>
    <div class="container bottom-half">
        <div>
            <h3>Formas de pagamento</h3>
            <span data-wsjs-infos="paymentBadges" class="payment-methods-list"></span>
        </div>
        <div>
          <h3>Selos</h3>
          <ul data-wsjs-badges></ul>
        </div>
    </div>
    <div class="container rights">
        <span data-wsjs-infos="cnpj">Todos os direitos reservados - {{value}}</span>
    </div>
</footer>