<!--##CLEAR_CSS##-->
<header data-wsjs-options="float: true;">
    <div class="header-top">
        <div class="container">
          
            <div class="logo-header" style="height: 6rem;">
                <!--##LOGOTIPO##-->
            </div>
            
            <div class="search-header">
              <input type="text" class="input-busca" id="input-busca" placeholder="Busque seu produto" value="" maxlength="50" autocomplete="off" onkeydown="event.key == 'Enter' && event.target.value != '' ? FuncaoBuscaBotao('input-busca') : null">
              <button onclick="this.parentNode.querySelector('#input-busca').value != '' ? FuncaoBuscaBotao('input-busca') : null" type="submit" class="botao-busca-header">
                  <span data-wsjs-icon="Search">
              </button>
            </div>

          <div class="options-header">
            <div class="client-header">
                <div class="login-options-container">

                    <div class="login-options-button">
                      <div>
                        <span data-wsjs-icon="user"></span>
                        <span class="login-options-user-name">Minha Conta</span>
                      </div>
                      <span class="login-options-arrow-span"><span data-wsjs-icon="arrow"></span></span>
                    </div>
                    
                    <div class="login-options-list">
                      <div data-wsjs-login="list-login">
                        <span>O que deseja fazer?</span>
                        <a href="/menu-cliente" data-wsjs-login="link-1">Meus Dados</a>
                        <a href="/menu-cliente" data-wsjs-login="link-2">Meus Pedidos</a>
                      </div>
                      <div data-wsjs-login="list-register">
                        <span>Ainda n&atilde;o &eacute; cadastrado?</span>
                        <a class="button-third" href="/login">Cadastre-se</a>
                      </div>
                    </div>
                </div>
            </div>

            <a class="favorite-header" href="/produtos/favoritos">
              <span data-wsjs-icon="favorite"></span>
            </a>

            <div class="cart-header">
                <a data-wsjs-cart="button" data-wsjs-options="float: true;mobile: true;">
                  <span data-wsjs-icon="cart"></span>
                  <span data-wsjs-cart="counter" class="cart-prod-counter"></span>
                </a>

                <div data-wsjs-cart="holder" class="cart-holder" style="display: none;">
                    <div class="cart-holder-header">
                      <h2>Meu carrinho</h2>
                        <span onclick="wsMain.modules['cart-drawer'].changeState()">
                            <span data-wsjs-icon="close"></span>
                        </span>
                    </div>
                    <div data-wsjs-cart="items-holder" class="cart-items-holder">
                        <a data-wsjs-cart="template">
                          <div class="cart-top-item-holder">
                            <div class="cart-item-image-holder">
                              <span data-wsjs-cart="photo_url"></span>
                            </div>
                            <div class="cart-info-container">
                              <div class="cart-info-name">
                                <span data-wsjs-cart="name"></span>
                                <div data-wsjs-cart="variation"></div>
                                <div data-wsjs-cart="variation"></div>
                                <div data-wsjs-cart="variation"></div>
                              </div>
                              <div class="cart-info-price">
                                <span>
                                  Quantidade: <span data-wsjs-cart="qtd"></span>
                                </span>
                                <span data-wsjs-cart="price"></span>
                              </div>
                            </div>
                          </div>

                          <div class="cart-bottom-item-holder">
                          </div>
                        </a>
                    </div>
                    <div data-wsjs-cart="default-message" class="cart-default-message">
                      <span>Seu carrinho est&aacute; vazio.</span>
                    </div>
                    <div data-wsjs-cart="bottom-message" class="cart-default-message">
                      <div class="total-holder" data-wsjs-cart="total"><b>Total sem frete: {{value}}</b></div>
                      <a class="button-main" data-wsjs-cart="link" class="cart-button">Finalizar compra</a>
                      <span class="close-link" onclick="wsMain.modules['cart-drawer'].changeState()">voltar &agrave;s compras</span>
                    </div>
                </div>
            </div>
          </div>

        </div>
    </div>

    <nav class="header-bottom nav-header">
        <div class="container">
            <span class="nav-header" data-wsjs-module="categorias" role="navigation" data-wsjs-options="dropDown: true;allCats: true;"></span>
        </div>
      </nav>
</header>

<div id="overlay" data-wsjs-cart="overlay-holder" onclick="wsMain.modules['cart-drawer'].changeState()"></div>
