.LV_DIV_CARRINHO_V2 .LV_TABLE_CARRINHO_V2 .LV_LinhaCarrinhoItens_V2 .LV_LinhaCarrinhoDivQtd_V2 .LV_LinhaCarrinhoCampoQtd_V2 {
  width: 6rem;
}

#LVLinkBotaoContinuar{
  padding: 2rem !important;
  background-color: var(--bg-button-buyNow) !important;
  color: var(--color-button-buyNow) !important;
}

#LVLinkBotaoContinuarComprando, #LVLinkBotaoLimpar {
  padding: 2rem !important;
  background-color: var(--bg-button-buyLater) !important;
  color: var(--color-button-buyLater) !important;
}

.UserAreaData .LV_DIV_CADASTRO {
  width: 100%;
  margin: 0;
  font-size: inherit;
  color: inherit;
}

.UserAreaData .LV_divCADASTRO_campos .LV_DIV_NOME_CAMPO_CAD2 {
  text-align: right;
  margin-right: 0;
  width: 100%;
  float: none;
}

.UserAreaData .LV_SizeCamposCad {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.UserAreaData .LV_divCADASTRO_campos {
  margin-bottom: 0;
}

.UserAreaData .LV_divCADASTRO_campos input[type="checkbox"] {
  width: 2rem;
}

.UserAreaData .LV_CAMPOS_DIV_CADASTRO {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.UserAreaData .LV_INVISIBLE_FIELD {
  display: none;
}

.UserAreaData .LV_CADASTRO_SHOWMSG {
  display: flex!important;
  font-size: inherit;
  margin: 0%;
  padding: 2rem 0;
}

.UserAreaData .LV_TIT_DIV_CADASTRO {
  font-weight: normal;
}

.LV_div_sem_produtos {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
}

.LV_div_sem_produtos strong {
  font-weight: normal;
}

.LV_div_sem_produtos a {
  padding: 2rem;
  background-color: var(--bg-button-buyLater);
  color: var(--color-button-buyLater);
}

.LV_CheckoutSmart_NumeroPedidoShow > strong {
  padding: 2rem 0 2rem 6rem;
}