<!--###TOPO###-->

<section class="category-search-list">
  <div class="container">
    <span class="breadcrumb-container" data-wsjs-listing="breadcrumb"></span>
  </div>

  <div class="container">
    <span data-wsjs-banner="topo" data-wsjs-slide=""></span>
  </div>

  <div class="container">

    <div class="filter-container" data-wsjs-favorite="false" data-wsjs-listing="container" style="opacity: 0;">
      <div data-wsjs-remove data-wsjs-search="false">
        <div class="combo-ordem-holder" data-wsjs-listing="none">
          <label for="viewing-order">Ordenar por</label>
          <span class="combo-ordem">
            <span data-wsjs-listing="order" id="viewing-order">
              <option value="5">Relev&acirc;ncia</option>
              <option value="3">Menor pre&ccedil;o</option>
              <option value="4">Maior pre&ccedil;o</option>
              <option value="1">A - Z</option>
              <option value="2">Z - A</option>
            </span>
          </span>
        </div>
        
        <span class="category-filter" data-wsjs-listing="categoryFilter" data-wsjs-listing="activeFilters" data-wsjs-remove><h3>Filtrar por</h3></span>
        
        <nav class="category-actual-menu" data-wsjs-listing="none">
          <span data-wsjs-listing="categoryName" data-wsjs-options="type: h3;"></span>
          <span data-wsjs-listing="categorias" data-wsjs-module="categorias" role="navigation" data-wsjs-options="atual: true;megaMenu: false;hoverMode: false;" ></span>
        </nav>
      </div>

      <nav>
        <span data-wsjs-module="categorias" role="navigation" data-wsjs-options="megaMenu: false;hoverMode: false;custom: false;"><h2>Categorias</h2></span>
      </nav>
    </div>

    <div class="list-container">
      <span data-wsjs-prod-list="category" data-wsjs-options="container:false;"></span>

      <div class="category-pagination-container" data-wsjs-listing="none" data-wsjs-pagination="none">
        <span data-wsjs-listing="prodsNum">{{value}} itens</span>
        <div class="category-pagination-buttons">
          <span class="arrow-first" data-wsjs-listing="firstPage">

            <!-- Seta Dupla Para Esquerda -->
            <span data-wsjs-icon="arrow"></span>
            <span data-wsjs-icon="arrow"></span>
            
          </span>

          <span class="arrow-prev" data-wsjs-listing="prevPage">

            <!-- Seta Para Esquerda -->
            <span data-wsjs-icon="arrow"></span>
          
          </span>

          <div class="category-pagination-values">

            <span data-wsjs-listing="actualPage">{{value}}</span>
            <span data-wsjs-listing="pagesNum">de {{value}}</span>
            
          </div>

          <span class="arrow-next" data-wsjs-listing="nextPage">

            <!-- Seta Para Direita -->
            <span data-wsjs-icon="arrow"></span>

          </span>

          <span class="arrow-last" data-wsjs-listing="lastPage">

            <!-- Seta Dupla Para Direita -->
            <span data-wsjs-icon="arrow"></span>
            <span data-wsjs-icon="arrow"></span>

          </span>
        </div>
      </div>
      
      <span data-wsjs-banner="category_description" style="opacity: 0;"><span data-wsjs-listing="categoryName" data-wsjs-options="type: h1;"></span> {{value}} </span>
    </div>
  </div>
</section>

<div class="banner-row">
  <div class="container">
      <span data-wsjs-banner="rodape" data-wsjs-slide=""></span>     
  </div>
</div>

<div data-wsjs-module="prod-template" class="hidden">
  <!--##PROD-TEMPLATE1.0##-->
</div>

<!--###RODAPE###-->
<!--###COMPLEMENTO###-->