.newsletter-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-newsletter);
  color: var(--color-subtitle-newsletter);
}

.newsletter-holder h2 {
  color: var(--color-title-newsletter);
  margin-bottom: 1rem;
}

.newsletter-holder > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.newsletter-holder > div > * {
    width: 44rem;
}

#newsletter > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.newsletter-holder #newsletter {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    position: relative;
}

.newsletter-holder #newsletter input {
    padding: 1rem;
    border: var(--margin-all);
    color: var(--color-input-newsletter);
    background-color: var(--bg-input-newsletter);
}

#newsletter > .newsletter-message {
    opacity: 0;
    visibility: hidden;
    bottom: 0;
    position: absolute;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 5rem;
    transition: opacity 200ms ease, margin-bottom 400ms ease;
}

.newsletter-message.success {
    visibility: visible;
    background-color: rgb(124, 255, 87);
    color: white;
    text-shadow: 0 0 0.1vw black;
}

.newsletter-message.error {
    visibility: visible;
    background-color: rgb(239, 251, 78);
    color: black;
}