*[data-wsjs-force="none"] {
  display: none!important;
}

*[data-wsjs-infoHolder] {
  display: none;
}

.prod-container {
    padding: 2rem 0;
    opacity: 1;
    transition: opacity .2s ease;
    align-items: flex-start;
}

.prod-container h2 {
  margin-bottom: 1rem;
}

.prod-block-container {
  background-color: var(--bg-secundary);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
}

.available-section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.prod-container.prod-to-load {
    opacity: 0;
}

.prod-inside-container {
    width: 100%;
    display: flex;
    column-gap: 2rem;
}

.prod-side-container {
    transition: all 200ms ease;
}

.prod-container button span {
    margin-right: 1.4rem;   
}

.prod-inside-container .prod-side-container:first-child {
  position: relative;
  width: 60%;
}

.prod-inside-container .prod-side-container:last-child {
  width: calc(40% - 2rem);
}

/* Tags do Produto */
.prod-tags-container {
    display: flex;
    column-gap: 1rem;
}

/* Nome */ 
.prod-container h1 {
  margin-bottom: 0;
  font-weight: 600;
}

/* Código do Produto */
.prod-code-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prod-code-container a {
    text-decoration: none;
}

/* Breve Descrição */
.prod-short-container > div {
  display: flex;
  flex-direction: column;
}

/* Preço Produto */
.prod-price-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: .1rem solid #e1e1e1;
}

.prod-price-main {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.prod-price-main .prod-price-off {
  text-decoration: line-through;
  font-weight: normal;
}

.prod-price-main .prod-price-sell {
  text-decoration: none;
  font-weight: bold;
}

/* Botões de Comprar */
.prod-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Informações Adicionais */
.prod-installments-container:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: .1rem solid #e1e1e1;
}

.prod-installments-container ul {
    column-count: 2;
}

.prod-installments-container li.without-fee {
    font-weight: 600;
}

.prod-installments-container li {
  padding-right: 2rem;
}

/* Frete */
.prod-shipping-form {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
}

.prod-shipping-form label {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  height: fit-content;
}

.prod-shipping-form input[type="text"] {
  width: 100%;
  border: var(--margin-all);
  background: white;
  padding: 1rem;
  grid-column-start: 1;
}

.prod-shipping-form button {
    margin-bottom: 0;
    width: fit-content;
    padding: 0 3.5rem;
    grid-column-start: 2;
    grid-column-end: 2;
}

[data-wsjs-shipping=container] .loader-container {
  width: auto;
  position: relative;
  height: fit-content;
  margin-top: 2rem;
}

[data-wsjs-shipping=container] ul {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: var(--margin-all);
}

[data-wsjs-shipping=container] ul li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

[data-wsjs-shipping=container] ul li span:first-child {
  text-align: left;
}

[data-wsjs-shipping=container] ul li span:last-child {
  text-align: right;
}
/* Vídeo do Produto */
.prod-video-container div {
  width: 100%;
  aspect-ratio: 16/9;
}

.prod-video-container div iframe {
  width: 100%;
  height: 100%;
  margin-bottom: -.5rem;
}

/* Botão Favorito */
.prod-social-container {
    display: flex;
    column-gap: 1rem;
}

.prod-social-container button {
  width: 100%;
}

.fav-holder {
    opacity: 0;
}

.prod-social-container .fav-active {
    transition: opacity .2s;
    transform: translateX(calc(-200% + -.2rem));
    position: absolute;
    color: red;
    opacity: 0;
}

.prod-social-container .fav-not-active {
    transition: opacity .2s;
    transform: translateX(calc(-200% + -.2rem));
    position: absolute;
    opacity: 1;
}

.active .fav-active {
    opacity: 1;
}

.active .fav-not-active {
    opacity: 0;
}

/* Botão Compartilhar */
.prod-social-share-container {
    width: 100%;
    position: relative;
}

.prod-social-share-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border: 1px solid #4A4A4A;
    transition: transform .4s;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.prod-social-share-items a {
    cursor: pointer;
    display: flex;
}

.share-copy-item {
    transition: transform .5s;
}

/* Descrições */
.prod-descriptions-container div div p {
    max-width: 100%;
    max-height: 20vh;
    overflow: auto;
}

/* Indisponível */
.prod-block-container .contact-container .contact-form-top {
  display: flex;
  flex-direction: column;
}

.prod-block-container .contact-container {
  display: block;
}

/* Login */
.prod-info-login p {
  margin-bottom: 2rem;
}

.prod-info-login button {
    margin-bottom: 2rem;
}

.prod-info-login button:last-child {
    background: #E3E3E3;
    color: #8C8C8C;
}

.prod-info-login button:last-child:hover {
    background: #CACACA;
}

/* Seletor de Quantidade */
.prod-quantity-container {
  display: flex;
  align-items: center;
}

.prod-quantity-container label {
  margin-bottom: 0;
}

/* Relacionados */
.prod-list-related {
  padding: 0 0 2rem;
}

.prod-list-related .keen-slider,
.prod-list-related .prod-list-titles {
  grid-column-start: 1!important;
  grid-column-end: 4!important;
}

.prod-list-related .arrow {
  grid-row: 3;
  margin: 0;
}

.prod-list-related .arrow--prev {
  justify-self: flex-start;
  margin-left: 2rem;
}

.prod-list-related .arrow--next {
  justify-self: flex-end;
  margin-right: 2rem;
}

.prod-list-related .prod-list-titles {
  align-items: flex-start;
}

/* Campo de Quantidade */
.prod-quantity {
    background: white;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    border: var(--margin-all);
}

.prod-quantity span:first-child {
    line-height: 1.5rem;
}

.prod-quantity span {
    user-select: none;
    height: 3.8rem;
    width: 3.8rem;
    line-height: 3.8rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    align-items: center;
    cursor: pointer;
    color: #A3A3A3;
}

.prod-quantity span:hover {
    background: #EBEBEB;
}

input[name="TxtQtdAdd"] {
    text-align: center;
    max-width: 6rem;
    background: transparent;
}

input[name="TxtQtdAdd"]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[name="TxtQtdAdd"] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
input[name="TxtQtdAdd"]:focus, input[name="TxtQtdAdd"]:hover, input[name="TxtQtdAdd"] {
  box-shadow: none!important;
  outline: none!important;
  border: none!important;
}

/* Slides de Fotos */
.prod-photo-container {
  min-width: 100%;
  display: flex;
  max-height: calc(500px + 18rem);
  margin-bottom: 2rem;
  height: fit-content;
}

.prod-photo-container [data-wsjs-product="dots"] {
  width: 10rem;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  justify-content: space-between;
}

.prod-photo-container [data-wsjs-product="dots"] .keen-slider {
  height: calc(100% - 12rem);
}

.prod-photo-container [data-wsjs-product="dots"].need-offset .keen-slider {
  height: calc(500px + 4rem);
}

.prod-photo-container [data-wsjs-product="dots"].need-offset,
.prod-photo-container [data-wsjs-product="dots"].need-offset + [data-wsjs-product="photos"] {
  height: calc(500px + 4rem);
}

.prod-photo-container [data-wsjs-product="dots"] img {
  height: fit-content;
}

.prod-photo-container [data-wsjs-product="dots"] .iframe-container,
.prod-photo-container [data-wsjs-product="photos"] .iframe-overlay {
  display: none;
}
.prod-photo-container [data-wsjs-product="dots"] .iframe-slide {
  width: 100%;
}

.prod-photo-container [data-wsjs-product="dots"] .iframe-overlay {
  width: 100%;
  height: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.prod-photo-container [data-wsjs-product="photos"] .iframe-slide,
.prod-photo-container [data-wsjs-product="photos"] .iframe-container {
  height: auto!important;
  width: 100%;
  aspect-ratio: 16/9;
}

.prod-photo-container [data-wsjs-product="photos"] iframe {
  width: 100%;
  height: 100%;
}

.prod-photo-container [data-wsjs-product="dots"] img,
.prod-photo-container [data-wsjs-product="photos"] img {
  max-width: 100%;
  max-height: 100%;
  min-height: fit-content;
}

.prod-photo-container [data-wsjs-product="photos"] img {
  height: fit-content;
}

.prod-photo-container [data-wsjs-product="photos"] {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  max-height: 100%;
}

.prod-photo-container [data-wsjs-product="photos"] .iframe-container svg, 
.prod-photo-container [data-wsjs-product="dots"] .iframe-container svg {
  width: 100%;
  height: 100%;
}

.prod-photo-container [data-wsjs-product="photos"] .keen-slider {
  height: 100%;
}

.prod-photo-container [data-wsjs-product="photos"] .arrow + .keen-slider {
  width: calc(100% - 16rem);
}

.prod-photo-container [data-wsjs-product="dots"] .img-placeholder {
  font-size: 1rem;
}

.prod-photo-container [data-wsjs-product="dots"] .keen-slider .keen-slider__slide > div,
.prod-photo-container [data-wsjs-product="photos"] .keen-slider .keen-slider__slide > div {
  width: 10rem;
  padding: .5rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: white;
}

.prod-photo-container [data-wsjs-product="photos"] .keen-slider .keen-slider__slide > div {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
}

*[data-wsjs-product="dots"] .keen-slider .keen-slider__slide {
  box-sizing: border-box;
  cursor: pointer;
  transition: border .2s ease;
  padding: .6rem;
}

*[data-wsjs-product="dots"] .keen-slider .keen-slider__slide > div {
  border: .1rem transparent solid;
}

*[data-wsjs-product="dots"] .keen-slider .keen-slider__slide.active > div {
  border: .1rem #C9C9C9 solid;
  background-color: white;
}

.prod-photo-container .keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

*[data-wsjs-product="photos"] .keen-slider .keen-slider__slide {
  width: 100%!important;
  min-width: 100%!important;
  max-width: 100%!important;
}

*[data-wsjs-product="dots"] .arrow span {
  transform: rotateZ(90deg);
}

*[data-wsjs-product="dots"] .arrow {
  margin: 0 auto;
}

*[data-wsjs-product="dots"] iframe {
  max-width: 100%;
  max-height: calc(70% - 2rem);
}

/* Descrições */
.prod-main-block-descriptions {
  padding: 0 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.prod-main-block-descriptions > div:first-child {
  margin-top: 2rem;
}

.prod-main-block-descriptions > div {
  margin-bottom: 2rem;
}

.prod-main-block-descriptions > div:only-child {
  margin: 2rem 0;
}

.prod-description-container > div:not(:last-child) {
  margin-bottom: 2rem;
}

/* Características */
.prod-features-container table {
  width: 100%;
}

.prod-features-container {
  width: 100%;
}

.prod-features-container tr {
  padding: 2rem;
  display: flex;
}

.prod-features-container tr td,
.prod-features-container tr th {
  width: 50%;
  display: flex;
}

.prod-features-container tr:nth-child(even) {
  background-color: #E5E5E5;
}

.prod-features-container tr:nth-child(odd) {
  background-color: #F5F5F5;
}

/* Carregamento */
.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 200ms ease;
}

.loader-container .loader {
    animation: is-rotating 1s infinite ease;
    width: 4vw;
    height: 4vw;
    border: .45vw solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #707070;
}

@keyframes is-rotating {
    to {
        transform: rotateZ(1turn);
    }
}

/* Variações de Produto */
.sub-produtos-container {
  display: contents;
}

.sub-produtos {
  display: contents;
  flex-direction: column;
  row-gap: 2rem;
}

#LV_DIV_GENERO,
#LV_DIV_GENERO_2,
#LV_DIV_GENERO_3 {
  padding-right: 2rem;
  border: var(--margin-all);
  background: white;
}

.LV_COMBO_PROD_GENERO {
  display: flex;
  width: 100%;
  border: none;
  padding: 1rem;
  padding-right: 2rem;
  padding-right: 0;
  background: transparent;
}

.LV_COMBO_PROD_GENERO::-ms-expand {
  background-color: transparent;
}

.LV_GENERE_LISTA strong {
  font-weight: bold;
}

.LV_GENERE_LISTA ul {
  display: flex;
  justify-content: left;
  column-gap: 1rem;
}

.LV_GENERE_LISTA ul li a {
  background-color: #ECECEC;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: .2s ease;
}

.LV_GENERE_LISTA ul li a:hover {
  background-color: #D7D7D7;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li {
  border: .1rem solid transparent;
  transition: .3s ease;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li.LV_GENERO_SELECTED,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li.LV_GENERO_SELECTED, 
.LV_GENERE_LISTA.LV_GENERO_cor ul li:not(.LV_GENERO_INDISPONIVEL):hover,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li:not(.LV_GENERO_INDISPONIVEL):hover {
  border: .1rem solid #222;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li a,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li a {
  border: .2rem solid transparent;
  transition: .3s ease;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li.LV_GENERO_SELECTED a,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li.LV_GENERO_SELECTED a,
.LV_GENERE_LISTA.LV_GENERO_cor ul li:not(.LV_GENERO_INDISPONIVEL):hover a,
.LV_GENERE_LISTA.LV_GENERO_tamanho ul li:not(.LV_GENERO_INDISPONIVEL):hover a {
  border: .2rem solid #fff;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li a {
  padding: 0;
}

.LV_GENERE_LISTA.LV_GENERO_cor ul li a span {
  width: 4rem;
  height: 4rem;
  display: flex;
  color: transparent;
  text-indent: 100vw;
}

.sub-produtos strong::before {
  content: 'Selecione uma opção de ';
  font-weight: normal;
}

.LV_CAMPOS_ADD_PROD label {
   display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.LV_CAMPOS_ADD_PROD .LVCampoAddTit {
  min-width: fit-content;
}

.LV_CAMPOS_ADD_PROD input {
  border: var(--margin-all);
  padding: 1rem;
  background: white;
  width: 100%;
  box-sizing: border-box;
}

.modal-div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .95);
  transition: .4s ease;
  overflow: clip;
  opacity: 0;
  z-index: 10;
}


.modal-div .keen-slider {
  height: calc(100%  - 4rem)!important;
  max-width: 60%!important;
}

.modal-div .keen-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.modal-div .keen-slider__slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-div .iframe-container {
  width: 100%;
  aspect-ratio: 16/9;
}

.modal-div iframe {
  width: 100%;
  height: 100%;
}

.modal-div img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.modal-div .close-button {
  position: absolute;
  padding: 1rem;
  transform: scale(1.3);
  right: 3rem;
  top: 3rem;
  cursor: pointer;
}

.modal-div .close-button svg {
  color: white;
  fill: white;
}


/* Compre Junto */ 
.produtos-compre-junto {
  padding-top: 2rem;
}

.compre-junto-linha {
  display: flex;
  column-gap: 2rem;
}

.compre-junto-linha .compre-junto-linha-itensblock {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.compre-junto-imgs a, .compre-junto-imgs {
  width: fit-content;
  display: block;
}

.compre-junto-mais, .compre-junto-mais {
  width: fit-content;
  margin: auto 0;
}

.compre-junto-infos-prod {
  padding: 0 2rem;
  display: grid;
  row-gap: 2rem;
  grid-template-rows: auto 1fr;
}

.compre-junto-item-preco-de {
  display: none;
}

.compre-junto-total-preco-de{
  text-decoration: line-through;
}

.compre-junto-total {
  background-color: white;
  padding: 0 2rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compre-junto-item {
  width: min-content;
  box-sizing: border-box;
  background: white;
  padding: 2rem 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.compre-junto-subprods {
  width: 100%;
  padding: 0 1.2rem;
  box-sizing: border-box;
  border: var(--margin-all);
}

.compre-junto-subprods select,
.compre-junto-subprods select:focus {
  width: 100%;
  background-color: transparent;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  padding: 1.5rem 0;
}

.compre-junto-botao-comprar {
  width: 100%;
  height: 4.3rem;
  margin-bottom: 1rem;
  border: none;
  background: #A3A3A3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}







/* Modal de Zoom */
.prod-side-container [data-wsjs-contact=modal] {
  transition: .4s ease;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 5;
  flex-direction: row;
}

[data-wsjs-contact=modal] form {
  width: fit-content;
  padding: 2rem;
  background-color: #ECECEC;
}

[data-wsjs-contact=modal] > div {
  display: flex;
  column-gap: 2rem;
}

.float-footer-container {
  position: fixed;
  bottom: 0;
  background: #F5F5F5;
  width: 100%;
  left: 0;
  padding: 2rem;
  z-index: 1;
  transition: .3s;
}

.float-footer-container .prod-price-main {
  justify-content: center;
}